<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <!-- <connectionStrings> -->
    <!--     <add name="conn" providerName="MySql.Data.MySqlClient" -->
    <!--          connectionString="server=localhost;UserId=1;Password=1;database=mobiledb;CharSet=utf8;Persist Security Info=True" /> -->
    <!-- </connectionStrings> -->
    <!-- <appSettings> -->
    <!--     <add key="ConnectionString" value="example" /> -->
    <!-- </appSettings> -->
    <entityFramework>
        <providers>
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.19.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </providers>
    </entityFramework>
    <appSettings>
        <add key="ConnectionMethod" value="ADO.NET" />
    </appSettings>
</configuration>

