<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <entityFramework>
        <providers>
            <provider invariantName="MySql.Data.MySqlClient"
                      type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.19.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </providers>
    </entityFramework>
    <appSettings>
        <add key="ConnectionMethod" value="ADO.NET" />
    </appSettings>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
</configuration>